form {
    margin: 0 auto;
    width: 30%;
    padding: 1rem;
    border: 1px solid;
    border-color: black;
    position: relative;
}
input {
    border: 1px solid;
    border-color: black;
    height: 30px;
    padding: 0 20px;
    width: 40%;
}
input[type="date"] {
    font-size: 16px;
}
textarea {
    width: 90%;
    height: 5vw;
    border: 1px solid;
    border-color: black;
    padding: 5px;
}
#submit:hover, #reset:hover {
    background-color: #9bb1ee;
}
#city, #fullname {
    text-transform: capitalize;
}
.contact-image {
    background-image: url("../images/contact.jpg");
    height: 20vw;
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-text {
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 20px 0 0 0;
    width: 100%;
    font-family: Arial;
}
.contact-text span {
    background-color: white;
}
h2 {
     text-align: center;
}
.form {
    margin: 0 0 40px 0;
}
@media screen and (max-width: 800px) {
    .contact-image {
        height: 50vw;
    }
    form {
        width: 80%;
    }
    input {
        width: 60%;
    }
    textarea {
        height: 15vw;
    }
    footer {
        position: relative !important;
    }
}

